//Colors
$shadow_color: rgba(0, 0, 0, 0.05);
$scroll_bar_hover_color: #888888;

$primary_gray_100: #F8F9FA;
$primary_gray_150: #EEF0F3;
$primary_gray_300: #DEE2E6;
$primary_gray_400: #CED4DA;
$primary_gray_500: #ADB5BD;
$primary_gray_600: #6C757D;
$primary_gray_700: #495057;
$primary_gray_800: #343A40;
$primary_gray_900: #212529;

$purple_purple_100: #E2D9F3;
$purple_purple: #6F42C1;
$danger_danger_100: #F8D7DA;
$danger_danger: #DC3545;
$brand_brand_100: #D8F5E4;
$brand_brand: #3DCC77;
$warning_warning_100: #FFF3CD;
$warning_warning: #FFC107;
$info_info_100: #CFF4FC;
$info_info: #0DCAF0;
$universal_white_50: rgba(255, 255, 255, 0.50);
$universal_white: #FFFFFF;
$universal_black: #000000;